<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://bayguzin.ru/assets/cache_image/2014/12/arial_1024x0_326.webp" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Обменник
    </a>
  </div>
</nav>
